<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>    
    <p>Some text here</p>
    <% include ./partials/footer.ejs %>    
  </body>
</html>