<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body> 
    <h1>
      Will be right back
    </h1>       
    <p>This site is under maintenance, will back soon.</p>    
  </body>
</html>